<header class="sm:px-4 sm:py-3 w-full bg-primary">
    <div class="flex justify-between items-center px-4 py-3 sm:p-0">
        <div class="flex items-center">
            <img class="h-6 sm:h-10" src="../../assets/controller.png" alt="video game controller" />
            <h1 class="text-alt mx-1 font-semibold text-lg">Game Browser</h1>
        </div>
        <div class="flex items-center">
            <span class="hidden sm:inline-block sm:ml-1 text-alt font-semibold">Powered By:</span>
            <a href="http://www.angular.io"><img class="h-6 sm:h-10 ml-1 object-scale-down"
                    src="../../../assets/angular.png" alt="Angular 8" /></a>
            <a href="http://www.tailwindcss.com"><img class="h-6 sm:h-10 ml-1 object-scale-down"
                    src="../../../assets/tailwind.png" alt="tailwind css" /></a>
            <a href="http://www.rawg.io"><img class="h-6 sm:h-10 ml-1 object-scale-down" src="../../../assets/rawg.png"
                    alt="RAWG.io" /></a>
        </div>
    </div>
</header>