<div
  (click)="getDetails()"
  class="bg-alt rounded-lg overflow-hidden pb-0 m-8 max-w-sm"
>
  <img
    [defaultImage]="defaultImage"
    [lazyLoad]="game.background_image"
    alt="game image"
    class="h-64 w-full object-center object-cover"
  />
  <div class="px-2 py-1">
    <!-- <div class="flex flex-wrap items-end">
            <p *ngFor="let genre of game.genres" class="bg-gray-500 rounded-full px-2 py-1 mr-1 text-alt lowercase font-medium text-xs tracking-wider">{{genre.name}}</p>
        </div> -->
    <h4 class="font-semibold text-lg">{{ game.name }}</h4>
    <div class="flex flex-wrap justify-between">
      <span class="flex mr-1">
        <img
          *ngFor="let rating of ratingArray"
          src="../../../assets/star.jpg"
          alt="rating star"
          class="h-6"
        />
        ({{ game.rating }})</span
      >
      <span *ngIf="game.metacritic" class="flex justify-between">
        <img
          src="../../../assets/metacritic.png"
          alt="metacritic logo"
          class="h-6 mr-1"
        />
        {{ game.metacritic }}</span
      >
    </div>
    <div class="flex flex-wrap items-end justify-start">
      <span
        *ngFor="let genre of game.genres"
        class="bg-gray-500 rounded-full px-2 py-1 mr-1 mt-1 text-alt capitalize font-medium text-xs tracking-wider hover:bg-alpha"
      >
        {{ genre.name }}
      </span>
    </div>
  </div>
</div>
